<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollicide</title>
</head>
<body>
    <div class='heading'>
        <header>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="survey logo with wolf mascott">"
            <h1>Pollicide</h1>

            <nav>
                <a href="">home</a>
                <a href="" id="login">login</a>
                <a href="" id="logout">logout</a>
            </nav>
        </header>
    </div>
</body>
</html>